@{
  Layout = "_Layout";
}

@model FirstBank.Models.BankAccount

<h2>Add a member</h2>

<h4>Add a member to this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BankAccountId)

  @Html.Label("Select member")
  @Html.DropDownList("MemberId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>