@{
  Layout = "_Layout";
}

@model FirstBank.Models.BankAccount

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select member")
  @Html.DropDownList("MemberId")

  <input type="submit" value="Add new bankaccount" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all bankaccounts", "Index")</p>