@{
  Layout = "_Layout";
}

@model FirstBank.Models.BankAccount

<h2>BankAccount Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This bankaccount does not belong to any members</p>
}
else
{
  <h4>Members the bankaccount belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Member.Name</li>
    @using (Html.BeginForm("DeleteMember", "BankAccounts"))
    {
      @Html.Hidden("joinId", @join.MemberBankAccountId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Member", "AddMember", new { id = Model.BankAccountId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit BankAccount", "Edit", new { id = Model.BankAccountId })</p>
<p>@Html.ActionLink("Delete BankAccount", "Delete", new { id = Model.BankAccountId })</p>