@{
  Layout = "_Layout";
}

@model FirstBank.Models.Member;

<h2>Member Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This member does not contain any bankaccounts</p>
}
else
{
  <h4>BankAccounts the member contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.BankAccount.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to members", "Index")</p>
<p>@Html.ActionLink("Edit Member", "Edit", new { id = Model.MemberId })</p>
<p>@Html.ActionLink("Delete Member", "Delete", new { id = Model.MemberId })</p>